#headertxt{
    text-align: center;
    
    font-weight: 700;
    color: royalblue;
    font-family: fantasy;
}
#body{
    background-color: #F9B208;
}
#formpart{
    background-color: #F98404;


    


}

   

#quotes{
    margin-bottom: 1rem;
    padding:1rem;
    border-radius: 20px;
    background-color:burlywood;
}
/* #modify{
    padding-left: 1rem;
    margin-top: 3rem;
    margin-left: 1rem; 

} */