<p>Created By:{{quote.createdby}}</p>
<p>{{quote.createdDate|dateCount}} days ago</p>
<div class="row">

  <div class="col-md-4">
    <a class="btn btn-large btn-warning" (click)='likeBtnClick()' href="#">
      <i class="fa fa-thumbs-up" aria-hidden="true"> upVote</i>
    </a>
    <p>{{likes}} upvote</p>
  </div>
  <div class="col-md-4">
    <a class="btn btn-large btn-warning logout" (click)="dislikeBtnClick()" href="#">
      <i class="fa fa-thumbs-down" aria-hidden="true"> downVote</i>
    </a>
    <p>{{dislikes}} upvote</p>
  </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger" (click)='quoteDelete(true)'>
        <i class="fa fa-trash" aria-hidden="true"></i> Delete</button><br>

    </div>
  </div>

