<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
           
            <input type="text" required class="form-control" id="author"[(ngModel)]="newQuote.author" name="author"#author='ngModel'>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
              </div>
            Display {{newQuote.author}}
        </div>
        <div class="form-group">
  
         
            <input type="text" required class="form-control" id="createdby"[(ngModel)]="newQuote.createdby" name="createdby"#createdby='ngModel'>
            <div [hidden]="createdby.valid ||createdby.pristine" class="alert alert-danger">
                <p>Created By is required</p>
              </div>
  
        </div>
        <div class="form-group">
  
            
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote"#quote='ngModel' required></textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div>
        </div>
        <input type="button" id="submit" class="btn btn-warning " value="SUBMIT"><br><br>
    </form>
  </div>