<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
           
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' placeholder="Author"><br>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
              </div>
            
        </div>
        <div class="form-group">
  
         
            <input type="text" required class="form-control" id="createdby"[(ngModel)]="newQuote.createdby" name="createdby"#createdby='ngModel'placeholder="Createdby"><br>
            <div [hidden]="createdby.valid ||createdby.pristine" class="alert alert-danger">
                <p>Created By is required</p>
              </div>
  
        </div>
        <div class="form-group">
  
            
            <textarea class="form-control" id="message" rows="4" [(ngModel)]="newQuote.message" name="message"#message='ngModel'placeholder="Quote" required></textarea>
            <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div>
        </div><br>
        <button type="submit" id="submit" class="btn btn-warning">Add Quote</button>
    </form>
  </div>