<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    
    <form>
        <div class="form-group">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="name">Created By</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Quote</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <input type="button" id="submit" class="btn btn-warning " value="SUBMIT"><br><br>
    </form>
  </div>